* {
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#mapa {
    background-color: #fff;
    width: 1000px;
    height: 600px;
}

.categorias ul {
    list-style-type: none;
}

.table {
    min-width: 100px;
    max-width: 180px;
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    max-width: 90px;
    padding: 3px;
    word-wrap: break-word;
    text-transform: capitalize;
}

.negrita {
    font-weight: bold;
    text-transform: capitalize;
}

.texto-centro {
    text-align: center;
}

.texto-derecha {
    text-align: right;
}