* {
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#mapa {
    background-color: #fff;
    width: 1000px;
    height: 600px;
}

.categorias ul {
    list-style-type: none;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.table-head {
    display: table-header-group;
}